.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    color: #2f80ed;
}

.feynman__link:hover {
    opacity: 0.4;
    transition: 0.35s;
}