.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  /* выше установили ограничения для секции */
  display: flex;
  padding: 0 0 0 64px;
  align-self: center;
  background-color: #f2f2f2;
  z-index: -2;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  align-self: center;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: -1;
  filter: opacity(100%);
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  margin: 100px 0 100px 0;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0 0 30px 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  padding: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.section-title {
  margin: 0 0 20px 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
  height: 800px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  position: relative;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0 auto;
}

.feynman__subtitle {
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 70px 0 0 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  padding: 90px 0 90px 0;
  position: relative;
  z-index: -2;
}

.section-title_text_theme_dark {
  color: white;
  text-align: center;
}

.section-subtitle_text_theme_dark {
  color: white;
  text-align: center;
}

/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px 0;
}

.footer__columns {
  min-height: 350px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}

.footer__columns_content_info {
  width: 15%;
  padding: 0 0 16px 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 20px 0;
}

.footer__column-link {
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
}

.footer__social-icon {
  padding: 0 10px 0 0;
  width: 16px;
  height: 16px;
}